$bgcolor: #141414;
$textcolor: #dadada;
$highlight: #ffc400;
$proseWidth: 65ch;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $bgcolor;
  color: $textcolor;
}

a {
  color: inherit;
  text-decoration: none;
  color: $highlight;
}

a :hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-size: medium;
}

h1,
h2 {
  color: $highlight;
}

h2,
h3 {
  padding-left: 1ch;
}

h1 {
  text-transform: uppercase;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

li:before {
  content: "➛";
  color: $highlight;
}

p,
ul,
li {
  max-width: $proseWidth;
  padding-left: 2ch;
}
p {
  padding: 0 1ch;
}

img {
  width: auto;
  height: auto;
}

figcaption {
  font-size: smaller;
  opacity: 80%;
}

.skills p {
  border-left: solid;
  border-width: 1px;
  margin-left: 4ch;
  border-color: $highlight;
}
