$bgcolor: #141414;
$textcolor: #dadada;
$highlight: #ffc400;
$proseWidth: 65ch;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $bgcolor;
  color: $textcolor;
}

a {
  color: inherit;
  text-decoration: none;
  color: $highlight;
}

h1,
h2,
h3 {
  font-size: medium;
}

h1,
h2 {
  color: $highlight;
}

h1 {
  text-transform: uppercase;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

p {
  max-width: $proseWidth;
  padding: 0 1ch;
}
